body {
    margin: 0;
    background: radial-gradient(circle, #0a0a0a, #000000);
    color: #ff2c2c;
    font-family: 'Creepster', cursive;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 120px;
}

.left {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px darkred;
}

.glitch {
    animation: glitch 1s infinite;
}

@keyframes glitch {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, -2px); }
    80% { transform: translate(2px, 2px); }
    100% { transform: translate(0); }
}

/* КНОПКА */
.creepy-btn {
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 28px;
    font-family: 'Creepster', cursive;
    color: #ff2c2c;
    background: black;
    border: 2px solid red;
    cursor: pointer;
    box-shadow: 0 0 10px red, 0 0 30px darkred;
    transition: 0.3s;
}

.creepy-btn:hover {
    transform: scale(1.1);
    background: #220000;
    box-shadow: 0 0 30px red, 0 0 80px crimson;
}

/* ГЛАЗ */
.eye {
    width: 260px;
    height: 130px;
    background: #fff;
    border-radius: 130px / 70px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 40px red;
}

.veins {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(255,0,0,0.2) 12px
    );
}

.pupil {
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, black 40%, red 100%);
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 100px;
    box-shadow: 0 0 20px red;
    transition: transform 0.1s;
}

.eyelid {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    top: -100%;
    left: 0;
}

.eye {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 20px red; }
    50% { box-shadow: 0 0 60px crimson; }
    100% { box-shadow: 0 0 20px red; }
}